<div class="left-sidebar">
                    <h2>Danh mục sản phẩm</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="/productlist?type=boxer">Quần lót Boxers</a></h4>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="/productlist?type=brief">Quần lót Briefs</a></h4>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="/productlist?type=trunks">Quần lót Trunks</a></h4>
                        </div>
                      </div>
                     
                    </div><!--/category-productsr-->
                  
                    <div class="brands_products"><!--brands_products-->
                      <h2>Hãng</h2>
                      <div class="brands-name">
                        <ul class="nav nav-pills nav-stacked">
                          <li><a href="/productlist?brand=CK"> <span class="pull-right">(50)</span>Calvin Klein</a></li>
                          <li><a href="/productlist?brand=DE"> <span class="pull-right">(56)</span>Diesel</a></li>
                          <li><a href="/productlist?brand=CLEVER"> <span class="pull-right">(27)</span>Clever</a></li>
                          <li><a href="/productlist?brand=EVA"> <span class="pull-right">(32)</span>Eva</a></li>
                          <li><a href="/productlist?brand=PUMP"> <span class="pull-right">(5)</span>Pump</a></li>
                          <li><a href="/productlist?brand=MP"> <span class="pull-right">(9)</span>Male Power</a></li>
                          <li><a href="/productlist?brand=EXIST"> <span class="pull-right">(4)</span>2(X)IST</a></li>
                        </ul>
                      </div>
                    </div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                      <h2>Phạm vi giá</h2>
                        <div class="panel-group category-products">
                             <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title"><a href="/productlist?under=100"> Dưới 100.000đ</a></h4>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title"><a href="/productlist?under=500&above=100"> Trên 100.000đ Dưới 500.000đ</a></h4>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title"><a href="/productlist?above=500">Trên 500.000đ</a></h4>
                            </div>
                          </div>

                          </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                      <img src="images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->
                  </div>