      <a href="../Web/index" ><h1>ADMINISTRATOR</h1></a>
      
      <div id="menutop">
        <ul> 
            <li><a href="./sanpham">Sản phẩm</a></li>
            <li><a href="./thongtin">Thông tin</a></li>
            <li><a href="./thanhvien">Thành viên</a></li>   
            <li><a href="./donhang">Đơn hàng</a></li>
            <li><a href="./cauhinh">Cấu hình</a></li>
            <li><a href="./thoat">Thoát</a></li>
        </ul>
      </div> 