<div class="hom-slider">
         <div class="container">
            <div id="sequence">
               <div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
               <div class="sequence-next"><i class="fa fa-angle-right"></i></div>
               <ul class="sequence-canvas">
                  <li class="animate-in">
                     <div class="flat-caption caption2 formLeft delay400">
                        <h1>Hàng hot 2017</h1>
                     </div>
                     <div class="flat-caption caption3 formLeft delay500">
                        <h2>Hàng bán<br>chạy</h2>
                     </div>
                     <div class="flat-button caption5 formLeft delay600"><a class="more" href="productlist">Chi tiết</a></div>
                     <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider/slider1.jpg" alt="Hình slider 1"></div>
                  </li>
                  <li>
                     <div class="flat-caption caption2 formLeft delay400">
                        <h1>Hàng nhập độc đáo</h1>
                     </div>
                     <div class="flat-caption caption3 formLeft delay500">
                        <h2>Hàng nhật<br> chính hiệu</h2>
                     </div>
                     <div class="flat-button caption5 formLeft delay600"><a class="more" href="productlist">Chi tiết</a></div>
                     <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider/slider2.jpg" alt="Hình slider 2"></div>
                  </li>
                  <li>
                     <div class="flat-caption caption2 formLeft delay400">
                        <h1>Hàng sale mạnh</h1>
                     </div>
                     <div class="flat-caption caption3 formLeft delay500">
                        <h2>Hàng sida<br>giá rẻ</h2>
                     </div>
                     <div class="flat-button caption5 formLeft delay600"><a class="more" href="productlist">Chi tiết</a></div>
                     <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider/slider3.jpg" alt="Hình slider 3"></div>
                  </li>
               </ul>
            </div>
         </div>
      </div>