
<!DOCTYPE>
>
  <head>
    <% include ./partials/stylesheet.ejs %>
  </head>
  <body>
    <div class="wrapper">
		<!--Them phan` menu !-->
    	<% include ./partials/header.ejs %>

      <div class="clearfix">
      </div>
      
      <div class="clearfix">
      </div>

      <div class="container_fullwidth">
          <section>
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <div class="left-sidebar">
                    <h2>Quản lý tài khoản</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><p>Sherlock Holmes</p></h4>
                        </div>
                      </div>
                      <hr>
                      <div class="panel panel-default">
                        <div class="panel-heading" id= "category-active">
                          <h4 class="panel-title"><a href="accountInformation">Thông tin tài khoản</a></h4>
                        </div>
                      </div>
                      
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="changepassword"><b>Thay đổi mật khẩu</b></a></h4>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="/logout">Đăng xuất</a></h4>
                        </div>
                      </div>
                     
                    </div><!--/category-productsr-->
                  
                  </div>
                </div>
                
                <div class="col-sm-9 padding-right">

                  <div class="container" style="margin: 10px;">
                    <div class="row"><h2>Thay đổi mật khẩu</h2></div>
                    <div class="col-md-12"><hr></div>


                    <form action="changepassword" method="post">
                      
                      <div class="form-group col-md-12">
                        <label for="username" class="col-md-2">
                          Tên đăng nhập:
                        </label>
                        <div class="col-md-6">
                          <input type="text" class="form-control" name="username" id="username" value="<%= userinfo.username %>" disabled>
                        </div>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="current-password" class="col-md-2">
                          Mật khẩu hiện tại:
                        </label>
                        <div class="col-md-6">
                            <input type="hidden" class="form-control" name="current-password" id="current-password" value="<%= userinfo.password %>">
                    
                          <input type="password" class="form-control" name="password" id="password" placeholder="Nhập mật khẩu hiện tại" required oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu hiện tại')"   oninput="setCustomValidity('')">
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="new-password" class="col-md-2">
                          Mật khẩu mới:
                        </label>
                        <div class="col-md-6">
                          <input type="password" class="form-control" name="newpassword" id="new-password" placeholder="Nhập mật khẩu mới" required oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu mới')"   oninput="setCustomValidity('')">
                          <p class="help-block">
                          </p>
                        </div>
                      </div>
                   
                      <div class="form-group col-md-12">
                        <label for="confirm-password" class="col-md-2">
                          Xác nhận mật khẩu:
                        </label>
                        <div class="col-md-6">
                          <input type="password" class="form-control" name="cofirmpassword" id="confirm-password" placeholder="Nhập lại mật khẩu" required oninvalid="this.setCustomValidity('Mật khẩu xác nhận không hợp lệ')"   oninput="setCustomValidity('')">
                          <p class="help-block">
                            
                          </p>
                        </div>
                      </div>
                   
                      <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                          <button type="submit" class="btn btn-info" id="ChangePassword">
                            Đổi mật khẩu
                          </button>
                        </div>

                      </div>
                    </form>
                  </div>

                </div>

              </div>
            </div>
          </section>
      </div>

      <div class="clearfix">
      </div>

	<% include ./partials/footer.ejs %>
    </div>
    </div>
    

    <% include ./partials/script.ejs %>
    <script type="text/javascript" src="javascripts/changepassword.js" ></script>
  </body>
<>