<!DOCTYPE html>
<html>
	<head>
      <% include ./partials/stylesheet.ejs %>
	</head>
	<body><h4><br><br>
		<span >QUẦN LÓT NAM</span>
		</strong><br>Chuyên cung cấp sỉ và lẻ quần lót dành cho nam trên toàn quốc</em></span></h4>
		<ul >
			<li>Địa chỉ: 722 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, TP.HCM</span></li>
			<li>Email: quanlotnam@gmail.com</span></li>
			<li>Kinh doanh : 0914.53.00.xx ( Mr. Sơn)</span></li>
			<li> Tư vấn và kĩ thuật : 0901.453.0xx ( Mr. Phúc)</span></li>
			<li>Hotline: 1900 6699&nbsp;</span></li>
		</ul>
	</body>
</html>