<!DOCTYPE html>
<html>
	<head>
      <% include ./partials/stylesheet.ejs %>
	</head>
	<body>
		<p>Giới thiệu<br>Định hướng kinh doanh<br>Hướng dẫn đặt hàng<br>Hợp tác phát triển<br>Tầm nhìn sứ mệnh<br>Hệ thống cửa hàng<br><br></p>
	</body>
</html>